<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22688990554-06hn8gd7vsmtjjcdgtepgv2cii1tk10f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22688990554-06hn8gd7vsmtjjcdgtepgv2cii1tk10f</string>
	<key>API_KEY</key>
	<string>AIzaSyC5Eqg3KnodiEB_oa6MRGSGuYde9JV1A9E</string>
	<key>GCM_SENDER_ID</key>
	<string>22688990554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.estufaInteligente</string>
	<key>PROJECT_ID</key>
	<string>estufainteligente-4ac45</string>
	<key>STORAGE_BUCKET</key>
	<string>estufainteligente-4ac45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22688990554:ios:2fcf9d8063d4a8a4f11f63</string>
	<key>DATABASE_URL</key>
	<string>https://estufainteligente-4ac45-default-rtdb.firebaseio.com</string>
</dict>
</plist>